#drop_zone {
    border: 5px solid green;
    padding: 1rem;
    margin: 1rem;
    width:  fit-content;
    height: fit-content;
}

#drop_zone.invalido {
    border: 5px solid red !important;
}

button {
    margin-left: 1rem;
}
